{% extends "master.html.twig" %}

{% block title %}Logout{% endblock %}

{% block head %}
<script src="../js/contact_custom.js"></script>
<link rel="stylesheet" type="text/css" href="../css/contact_styles.css">
<link rel="stylesheet" type="text/css" href="../css/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="../css/responsive.css">
<link rel="stylesheet" type="text/css" href="../css/main_styles.css">
{% endblock %}

{% block content %}
    <div class="container contact_container">
		<div class="row">
			<div class="col">
				<div class="breadcrumbs d<h5>-flex flex<h5>-row align<h5>-items<h5>-center">
					<ul>
						<a href="/">Home</a>
						<li class="active"><a href="/aboutus"><i class="fa fa-angle-right" aria-hidden="true"></i>aboutus</a>
					</ul>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<div id="google_map">
					<div class="aboutus">
						<h4>IPD carrental has a new face. We are new in business, we decided to give a fresher look to our brand and our services. With our fully renewed fleet of vehicles, we are ready to meet all expectations and requirements.</h4>
						<h3>Why choose us?</h3>
						<h5>-  If you want to book directly through a supplier, and not through a broker – choose IPD carrental for Rentiing A Car;</h5>
						<h5>-  this will give you better flexibility in terms of vehicle choices;</h5>
						<h5>-  vehicle make and model will be confirmed, and not “similar” to those you selected;</h5>
						<h5>-  you can directly negotiate some of the terms and conditions, payment options, especially if you require unique or long term rental service;</h5>
						<h5>-  you can book “commission free”;</h5>
						<h5>-   you can reach us 24/7 on our mobile numbers;</h5>
						<h5>-  you can call us free from the “Free call” service on our website;</h5>
						<h2>We pride ourselves on personalized service, great cars and excellent rates.</h2>		
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
