{% extends "master.html.twig" %}

{% block title %}Login{% endblock %}

{% block head %}
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: { lat: {{ session.arrCenterPostalcode.Latitude }} lng: {{ session.arrCenterPostalcode.Longitude }} }
            });
            setMarkers(map);
        }

        var beaches = [
            {% for rentalPlace in rentalPlaceList %}
                [{{rentalPlace.street}}, {{rentalPlace.Latitude}}, {{rentalPlace.Longitude}}, {{rentalPlace.id}}],
            {% endfor %} 
        ];

        function setMarkers(map) {
            var image = {
                url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                size: new google.maps.Size(20, 32),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(0, 32)
            };
            var shape = {
                coords: [1, 1, 1, 20, 18, 20, 18, 1],
                type: 'poly'
            };
            for (var i = 0; i < beaches.length; i++) {
                var beach = beaches[i];
                var marker = new google.maps.Marker({
                    position: {lat: beach[1], lng: beach[2]},
                    map: map,
                    icon: image,
                    shape: shape,
                    title: beach[0],
                    zIndex: beach[3]
            });
            }
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBON6db-E8cIzVii1TuqKult0KLq9zvrDE&callback=initMap"></script>

{% endblock %}
{% block content %}
    <div id="map"></div>
    <br /> <br />
    <div class="container">
        <div class="row">
            <div calss="col-12">
                <p>Local Rental Place Nearby</p>
            </div>
        </div>
        {% if rentalplaceList %} 
            <div class="row">
            {% for rentalPlace in rentalPlaceList %}
                <div>
                    <p><b>{{ rentalplace['street'] }}</b></p>               
            {% endfor %} 
            </div> 
        {% endif %}        
    </div>
{% endblock %}   