{% extends "master.html.twig" %}

{% block title %}Login Success{% endblock %}

{% block head %}
    <meta http-equiv="refresh" content="2;URL='/'" />
{% endblock %}

{% block content %} 
    <p>Login successfully. Click to continue.<a href='/'></a>You will be automatically redirected in 2 seconds</p>
    {% if userSession.isAdmin %}
        <p>You can click to access <a href="/admin">Administration Page.</a><p>
    {% endif %}
{% endblock %}
