{% extends "masterBooking.html.twig" %}

{% block title %}Booking Step2{% endblock %}

{% block head %}    
{% endblock %}

{% block content %}     
    <div class="row form-responsive">
        <div class="col"></div>
        <div class="col-11 col-md-10 col-lg-9 border border-light rounded px-2">
            <form method="post" class="form form-sm mt-2" {% block formAction %} {% endblock %}>
                
                {% block step %}
                {% endblock %} 

                {% block filterAndSorter %}
                {% endblock %}
                                    
                <div class="row mt-2">
                    <div class="col-4 mt-2">
                        <div class="border border-light rounded mt-2 p-1 bg-light">
                            <h5>Booking Details</h5>
                        </div>
                        <div class="border border-light rounded mt-2 p-1">
                            <div class="row mt-1 pl-1">
                                <div class="col-8"><b>Time And Place</b></div>
                                <div class="col-4"><a href="#">Change</a></div>
                            </div>
                            <div class="row mt-1 pl-1">
                                <div class="col-4">Pick up:</div>
                                <div class="col-8">
                                    <p>{{booking.pickupStreet}}</p>
                                    <p>{{booking.pickupCity}}</p>
                                    <p>{{[booking.pickupDate, booking.pickupTime] | join(' , ')}}</p>                            
                                </div>
                            </div>
                            <div class="row mt-1 pl-1">
                                <div class="col-4">Return:</div>
                                <div class="col-8">
                                    <p>{{booking.returnStreet}}</p>
                                    <p>{{booking.returnCity}}</p>
                                    <p>{{[booking.returnDate, booking.returnTime] | join(' , ')}}</p>                            
                                </div>
                            </div>
                            <div class="row mt-1 pl-1">
                                <div class="col-4">Rental Duration:</div>
                                <div class="col-8">
                                    <p>{{booking.strDuration}}</p>                                                        
                                </div>
                            </div>

                            {% block selectedCarDetail %}
                            {% endblock %}

                        </div>
                    </div>

                    {% block table %}
                    {% endblock %}
                    
                </div>  

                {% block personInfo %} 
                {% endblock %}
                          
            </form>
        </div>
        <div class="col"></div>    
    </div>
{% endblock %}
