{% extends "master.html.twig" %}

{% block title %}
    Password reset
{% endblock title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/styles/login.css"/>
{% endblock stylesheets %}

{% block header %}{% endblock header %}

{% block section %}
        Password reset token not found or not valid (expired).<br>
            <a href="/">Click to continue</a>
{% endblock section %}