{% extends "master.html.twig" %}

{% block title %}Reset password{% endblock %}


{% block content %} 
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}<li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 form-responsive">
            <form method="post" class="form form-sm">
                <h1>Reset your password</h1>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Email:</label>
                    <div class="col-sm-8">
                        <input type="text" name="email" class="form-control" value="{{ v.email }}"></input>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Password:</label>
                    <div class="col-sm-8">
                        <input type="password" name="pass1" class="form-control" value=""></input>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Confirm Password:</label>
                    <div class="col-sm-8">
                        <input type="password" name="pass2" class="form-control" value=""></input>
                    </div>
                </div>
                
                <div class="mx-auto" style="width: 100px;">
                    <input type="submit" name="reset-request-submit"  class="btn btn-secondary" style="width: 100px;"></input>
                </div>                                   
            </form>
        </div>
        <div class="col-3"></div>    
    </div>
{% endblock %}

