{% extends "master.html.twig" %}

{% block title %}Forgot password{% endblock %}
{% block headb %}
<script type="text/javascript">
 
var InterValObj; //timer变量，控制时间
var count = 5; //间隔函数，1秒执行
var curCount;//当前剩余秒数
 
function validatemobile(mobile)
{
    if(mobile.length==0)
    {
       alert('请输入手机号码！');
       document.form1.mobile.focus();
       return false;
    }    
    if(mobile.length!=11)
    {
        alert('请输入有效的手机号码！');
        document.form1.mobile.focus();
        return false;
    }
    
    var myreg = /^(((13[0-9]{1})|159|153)+\d{8})$/;
    if(!myreg.test(mobile))
    {
        alert('请输入有效的手机号码！');
        document.form1.mobile.focus();
        return false;
    }
}
 
function sendMessage() {
  　curCount = count;
　　//设置button效果，开始计时
     $("#btnSendCode").attr("disabled", "true");
     $("#btnSendCode").val("请在" + curCount + "秒内输入验证码");
     InterValObj = window.setInterval(SetRemainTime, 1000); //启动计时器，1秒执行一次
　　  //向后台发送处理数据
     var mobile = document.getElementById("mobile").value;
     validatemobile(mobile);//验证手机号码正确性
     $.ajax({
     　　type: "POST", //用POST方式传输     　　
     　　url: '<?=base_url() ?>../member/send_code', //目标地址.
		 dataType: "json", //数据格式:JSON
    　　 //data: "dealType=" + dealType +"&uid=" + uid + "&code=" + code,
	     data: "&a="+mobile,
     　　success: function(json){ 
			if(json.msgid==1){//成功的处理
				alert(json.html);
			}
			else if(json.msgid==2){//失败的处理
				alert(json.html);
			}
			else{
				alert(json.html);
			}
		 }
     });
}
 
//timer处理函数
function SetRemainTime() {
            if (curCount == 0) {                
                window.clearInterval(InterValObj);//停止计时器
                $("#btnSendCode").removeAttr("disabled");//启用按钮
                $("#btnSendCode").val("重新发送验证码");
            }
            else {
                curCount--;
                $("#btnSendCode").val("请在" + curCount + "秒内输入验证码");
            }
        }
</script>
 

{% endblock %}

{% block content %} 
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}<li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 form-responsive">
            <form method="post" class="form form-sm">
                <h1>Reset your password</h1>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Mobile Phone Number:</label>
                    <div class="col-sm-8">
                        <input type="text" name="phoneNo" class="form-control" value=""></input>
                    </div>
                </div>
                <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label>手机号码</label>
                    <input type="text" name="tel" class="form-item" id="tel_num" placeholder="请输入手机号码" value="">
                </div>
                <div class="form-group form-group-r">
                    <label>验证码</label>
                     <input id="btnSendCode" type="button" value="发送验证码" οnclick="sendMessage()" /> 
                    <input type="text" placeholder="请填写验证码" class="form-item" name="smscode" />
                </div>
                <div class="form-group">
                    <label>新密码</label>
                    <input type="password" placeholder="设置登录密码" class="form-item" name="password" maxlength="30">
                </div>
                <div class="form-group">
                    <label>确认密码</label>
                    <input type="password" placeholder="确认登录密码" class="form-item" name="re_password" maxlength="30">
                </div>
                <div class="js-help-info error">
                </div>
                <div class="mx-auto" style="width: 100px;">
                    <input type="submit" name="reset-request-submit"  class="btn btn-secondary" style="width: 100px;"></input>
                </div>                                   
            </form>
        </div>
        <div class="col-3"></div>    
    </div>
{% endblock %}
