{% extends "master.html.twig" %}

{% block title %}Registration{% endblock %}

{% block head %}{% endblock %}

{% block content %} 
    <p>Register successfully. Click to <a href='/login'>Login</a></p>
{% endblock %}
