body {
    background-color: lightgray;
    margin: 0;
    padding: 0;
    
}

#centeredContent {
    margin: 0 auto;
    padding: 20px;
    width: 700px; /* 960px; */
    background-color: beige;
}

.largeForm {
    margin: 20px auto;
    width: 100%;
    height: 600px;
    background-color: lightblue;
    text-align: center;
    border: 2px solid grey;
    border-radius: 15px;
    box-shadow: 10px 10px lightgray ;
}

.smallForm {    
    margin: 20px auto;
    width: 70%;
    height: 200px;
    background-color: beige;
    text-align: center;
    border: 2px solid grey;
    border-radius: 15px;
    box-shadow: 10px 10px lightgray ;   
}


label {
    line-height: 60px;
    font-weight: normal;
    font-size: 16px;
    display: inline-block;
    width: 150px;
    text-align: right;
    margin-right: 10px;
}

input {
    height: 20px;
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.button , a {
    height: 25px;
    width: 120px;
    margin: 20px;
    padding: 0px;
    font-weight: bold;
    color: rgb(44, 43, 43);
}

.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}

table, th, td {
    border: 1px solid black;
    margin: 0 auto;
  }

#footer {
    margin: 0 auto;
    padding: 20px;
    width: 500px; /* 960px; */
    background-color: beige;
    text-align: center;
}

.article .comment {
    border-top: 20px;
    background-color: lightsteelblue;
}