<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>
    
    <title>Document</title>
    <style>
        body {
            background-color: whitesmoke;
            margin: 0;
            padding: 0;            
        }

        #wrapper {
            margin: 0 auto;
            padding: 0px;
            width: 100%;
            background-color: beige;
        }
    </style>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-dark bg-dark text-light">
            <a class="navbar-brand">IPD Car Rental</a>
            <form class="form-inline">
                <label class="col-form-label mr-4">Welcome</label>
                <a class="btn from-control my-2 my-sm-0 mr-4" href="/logout">Sign Out</a>
            </form>
        </nav>
        <div class="container-fluid">
            <div class="row">
                <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                    <div class="sidebar-sticky pt-3">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="/admin">
                                    <span><img src="/image/home.png" width="15" height="15" alt=""/>&nbsp&nbsp</span>Dashboard <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/reservation/list">
                                    <span><img src="/image/reservation.png" width="15" height="15" alt=""/>&nbsp&nbsp</span>Reservations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/category/list">
                                    <span><img src="/image/category.png" width="15" height="15" alt=""/>&nbsp&nbsp</span>Categories
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/car/list">
                                    <span><img src="/image/car.png" width="15" height="15"  alt=""/>&nbsp&nbsp</span>Cars
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/location/list">
                                    <span><img src="/image/location.png" width="15" height="15"  alt=""/>&nbsp&nbsp</span>Locations
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/customer/list">
                                    <span><img src="/image/customer.png" width="15" height="15"  alt=""/>&nbsp&nbsp</span>Customers
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/admin/user/list">
                                    <span><img src="/image/user.png" width="15" height="15"  alt=""/>&nbsp&nbsp</span>Users
                                </a>
                            </li>
                        </ul>        
                    </div>
                </nav>
    
                <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">             
                        {% block buttonAdd %}
                        {% endblock %}
                    </div>
                    
                    <div class="tableDiv" style="height:100%">
                        {% block table %}
                        {% endblock %}
                    </div>
                </main> 
            </div>
        </div>    

        {% block js %}
        {% endblock %}
        
    </div>
</body>
</html>