{% extends "admin/master.html.twig" %}

{% block title %}Delete Car{% endblock %}

{% block content %}
    <h3>Delete Car</h3>
        RegistrationNo: {{ car.registrationNo }}<br>
        Make: {{ car.make }}<br>
        Model: {{ car.model}}<br>
        <form method="POST">
            <p>Please confirm this action. It is irreversible</p>
            <input type="submit" value="Yes, delete the car">
        </form>
        <a href="/admin/car/list">Cancel - go back to the list</a>
{% endblock %}