{% if carList %}
    {% for car in carList %}
        <tr>
            <td>{{car.registrationNo}}</td>
            <td>{{car.make}}</td>
            <td>{{car.model}}</td>
            <td>{{car.mileage}}</td>
            <td>{{car.engineSize}}</td>
            <td>{{car.productionYear}}</td>
            <td>{{car.color}}</td>
            <td>{{car.locationName}}</td>
            <td>{{car.categoryName}}</td>
            <td><a href="/admin/car/update/{{car.id}}"><img src="../../image/edit.png" width="20" height="20" alt="edit"></a>
                <a href="/admin/car/delete/{{car.id}}"><img src="../../image/delete.jpg" width="20" height="20" alt="delete"></a>
            </td>
        </tr>
    {% endfor %}            
{% endif %}     


