{% extends "admin/masterAdmin.html.twig" %}

{% block table %}
    
    {% set action = (operation == 'add' ? "Add" : "Update") %}
    <h2>{{[action, 'Car'] | join(' ') }}</h2>
    {% if errorList %}
        <div class="col-sm-8 border border-danger rounded bg-light my-3">
            <h5 class="errorMessage mt-2 ml-2">Error:</h5>
            <ul class="errorMessage">
                {% for error in errorList %}
                    <li>{{error}}<li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="form-responsive">
        <form method="post" class="form form-sm">                        
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Registration Number:</label>
                <div class="col-sm-5">
                    <input type="text" name="registrationNo" class="form-control" value="{{car.registrationNo}}" maxLength="10"></input>
                </div>
                <span class="error" id="registrationNoError"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Make</label>
                <div class="col-sm-5">
                    <input type="text" name="make" class="form-control" value="{{car.make}}" maxLength="30"></input>
                </div>
                <span class="error" id="makeError"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Model:</label>
                <div class="col-sm-5">
                    <input type="text" name="model" class="form-control" value="{{car.model}}" maxLength="30"></input>
                </div>
                <span class="error" id="modelError"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Mileage:</label>
                <div class="col-sm-5">
                    <input type="text" name="mileage" class="form-control" value="{{car.mileage}}" maxLength="8"></input>
                </div>
                <span class="error" id="mileageError"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Engine Size:</label>
                <div class="col-sm-5">
                    <input type="text" name="engineSize" class="form-control" value="{{car.engineSize}}" maxLength="4"></input>
                </div>
                <span class="error" id="engineSizeError"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Production Year:</label>
                <div class="col-sm-5">
                    <input type="text" name="productionYear" class="form-control" value="{{car.productionYear}}" maxLength="4"></input>
                </div>
                <span class="error" id="productionYearError"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Color:</label>
                <div class="col-sm-5">
                    <input type="text" name="color" class="form-control" value="{{car.color}}" maxLength="30"></input>
                </div>
                <span class="error" id="colorError"></span>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Default Location:</label>
                <div class="col-sm-5">
                    <select name="locationName" class="form-control" value="{{car.defaultLocationId}}">                    
                        {% if locationList %}
                            {% for location in locationList %}
                                <option value={{location.id}}>{{[location.street , location.city] | join(' , ')}}</option>
                            {% endfor %}            
                        {% endif %}                            
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category Name:</label>
                <div class="col-sm-5">
                    <select name="categoryName" class="form-control" value="{{car.categorId}}"></input>
                        {% if categoryList %}
                            {% for category in categoryList %}
                                <option value={{category.id}}>{{category.categoryName}}</option>
                            {% endfor %}            
                        {% endif %}                            
                    </select>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-8 d-flex justify-content-around">
                <input type="submit" id="submitCar" name="submit" value="{{action}}" class="btn btn-secondary" style="width: 100px;"></input>
                <input type="submit" name="cancel" value="Cancel" class="btn btn-secondary" style="width: 100px;"></input>
            </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script src="/js/carFormValidation.js"></script>
{% endblock %}