{% extends "admin/masterAdmin.html.twig" %}

{% block table %}
    {% set action = (operation == 'add' ? "Add" : "Update") %}
    <h2>{{[action, 'Category'] | join(' ') }}</h2>
    {% if errorList %}
        <div class="col-sm-8 border border-danger rounded bg-light my-3">
            <h5 class="errorMessage mt-2 ml-2">Error:</h5>
            <ul class="errorMessage">
                {% for error in errorList %}
                    <li>{{error}}<li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="form-responsive">
        <form method="post" class="form form-sm">                        
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category Name:</label>
                <div class="col-sm-5">                    
                    <input type="text" name="categoryName" class="form-control" value="{{category.categoryName}}" maxLength="50"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Number Of Passengers:</label>
                <div class="col-sm-5">
                    <input type="text" name="passengersNo" class="form-control" value="{{category.passengersNo}}" maxLength="3"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Number Of Doors:</label>
                <div class="col-sm-5">
                    <input type="text" name="doorsNo" class="form-control" value="{{category.doorsNo}}" maxLength="2"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Price / Day:</label>
                <div class="col-sm-5">
                    <input type="text" name="costPerDay" class="form-control" value="{{category.costPerDay}}" maxLength="5"></input>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-8 d-flex justify-content-around">
                <input type="submit" name="submit" id="submitCategory" value="{{action}}" class="btn btn-secondary" style="width: 100px;"></input>
                <input type="submit" name="cancel" value="Cancel" class="btn btn-secondary" style="width: 100px;"></input>
            </div>
            </div>
        </form>
    </div>

{% endblock %}