{% extends "admin/masterAdmin.html.twig" %}

{% block table %}
    {% set action = (operation == 'add' ? "Add" : "Update") %}
    <h2>{{[action, 'Customer'] | join(' ') }}</h2>
    {% if errorList %}
        <div class="col-sm-8 border border-danger rounded bg-light my-3">
            <h5 class="errorMessage mt-2 ml-2">Error:</h5>
            <ul class="errorMessage">
                {% for error in errorList %}
                    <li>{{error}}<li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="form-responsive">
        <form method="post" class="form form-sm">                        
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">First Name:</label>
                <div class="col-sm-5">
                    <input type="text" name="firstName" class="form-control" value="{{customer.firstName}}" maxLength="50"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name:</label>
                <div class="col-sm-5">
                    <input type="text" name="lastName" class="form-control" value="{{customer.lastName}}" maxLength="50"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Phone Number:</label>
                <div class="col-sm-5">
                    <input type="text" name="phoneNo" class="form-control" value="{{customer.phoneNo}}" maxLength="15"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Street:</label>
                <div class="col-sm-5">
                    <input type="text" name="street" class="form-control" value="{{customer.street}}"  maxLength="100"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">City:</label>
                <div class="col-sm-5">
                    <input type="text" name="city" class="form-control" value="{{customer.city}}"  maxLength="50"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Province:</label>
                <div class="col-sm-5">
                    <input type="text" name="province" class="form-control" value="{{customer.province}}"  maxLength="30"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Postal Code:</label>
                <div class="col-sm-5">
                    <input type="text" name="postalCode" class="form-control" value="{{customer.postalCode}}" maxLength="10"></input>
                </div>
            </div>   
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Associated User ID:</label>
                <div class="col-sm-5">
                    <input type="text" name="userId" class="form-control" value="{{customer.userId}}" maxLength="3"></input>
                </div>
            </div>                                 
            <div class="row">
            <div class="col-sm-8 d-flex justify-content-around">
                <input type="submit" name="submit" id="submitCustomer" value="{{action}}" class="btn btn-secondary" style="width: 100px;"></input>
                <input type="submit" name="cancel" value="Cancel" class="btn btn-secondary" style="width: 100px;"></input>
            </div>
            </div>
        </form>
    </div>

{% endblock %}