{% extends "admin/master.html.twig" %}

{% block title %}Delete Customer{% endblock %}

{% block content %}
    <h3>Delete Customer</h3>
        Customer Name: {{ [customer.firstName, customer.lastName] | join(" ") }}<br>
        <form method="POST">
            <p>Please confirm this action. It is irreversible</p>
            <input type="submit" value="Yes, delete the customer">
        </form>
        <a href="/admin/customer/list">Cancel - go back to the list</a>
{% endblock %}