{% extends "admin/master.html.twig" %}

{% block head %}
    <script>
        // Example of redirection with visual countdown
        var secsLeft = 5;
        setInterval(function() {
            document.getElementById("countdown").innerHTML = secsLeft + "";
            secsLeft--;
            if (secsLeft < 0) {
                window.location.href = "/admin/{{object}}/list"; // destination
            }
        }, 1000);
    </script>
{% endblock %}

{% block title %}Delete Fail{% endblock %}

{% block content %}

    {% block errorMessage%}
    <p>This record can not be deleted.</p>
    <p>{{message}}</p>
    {% endblock %}

    <p><a href="/admin/{{object}}/list">Click here to continue</a></p>
    <p>You will be automatically redirected in <span id="countdown">5</span> seconds.</p>
{% endblock %}