{% extends "admin/masterAdmin.html.twig" %}

{% block head %}
    
    <script>
        var currPageNo = {{pageNo}};
        var maxPages = {{maxPages}};
    </script>
    <script src="/js/admin_pagination.js"></script>
    <script>
        $(document).ready(function() {
            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

            loadPage({{pageNo}}, true, '/admin/location/list/','/admin/location/list/singlepage/');
        });
    </script>
    
{% endblock %}

{% block buttonAdd %}
    <a href="/admin/location/add" class="text-dark font-weight-bold border rounded bg-light p-1">+ Add Location</a>
{% endblock %}

{% block table %}
    <h2>Locations</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>Location Name</th>
                    <th>Street</th>
                    <th>City</th>
                    <th>Province</th>  
                    <th>Postal Code</th>   
                    <th></th>               
                </tr>
            </thead>
            <tbody id="tableBody">
                                                                  
            </tbody>
        </table>

        <div class="pageNavigation">
            <br>
            <span id="pageNavPrev" onclick="loadPage(currPageNo-1, true, '/admin/location/list/','/admin/location/list/singlepage/')">Previous</span>
            {% for no in 1 .. maxPages %}
                <span id="pageNav{{no}}" onclick="loadPage({{no}}, true, '/admin/location/list/','/admin/location/list/singlepage/')">{{no}}</span>
            {% endfor %}
            <span  id="pageNavNext" onclick="loadPage(currPageNo+1, true, '/admin/location/list/','/admin/location/list/singlepage/')">Next</span>
        </div>

    </div>

{% endblock %}

{% block js %}
    <script>
        var elems = document.getElementsByClassName('confirmation');
        var confirmIt = function (e) {
            if (!confirm('Are you sure to delete selected entry?')) e.preventDefault();
        };
        for (var i = 0, l = elems.length; i < l; i++) {
            elems[i].addEventListener('click', confirmIt, false);
        }
    </script>
{% endblock %}