{% if locationList %}
    {% for location in locationList %}
        <tr>
            <td>{{location.locationName}}</td>
            <td>{{location.street}}</td>
            <td>{{location.city}}</td>
            <td>{{location.province}}</td> 
            <td>{{location.postalCode}}</td>  
            <td><a href="/admin/location/update/{{location.id}}"><img src="../../image/edit.png" width="20" height="20" alt="edit"></a>
                <a href="/admin/location/delete/{{location.id}}" class="confirmation"><img src="../../image/delete.jpg" width="20" height="20" alt="delete"></a>
            </td>                         
        </tr>
    {% endfor %}            
{% endif %}  