{% extends "admin/masterAdmin.html.twig" %}

{% block table %}
    {% set action = (operation == 'add' ? "Add" : "Update") %}
    <h2>{{[action, 'Location'] | join(' ') }}</h2>
    {% if errorList %}
        <div class="col-sm-8 border border-danger rounded bg-light my-3">
            <h5 class="errorMessage mt-2 ml-2">Error:</h5>
            <ul class="errorMessage">
                {% for error in errorList %}
                    <li>{{error}}<li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="form-responsive">
        <form method="post" class="form form-sm">                        
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Location Name:</label>
                <div class="col-sm-5">                    
                    <input type="text" name="locationName" class="form-control" value="{{location.locationName}}" maxLength="30"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Street:</label>
                <div class="col-sm-5">
                    <input type="text" name="street" class="form-control" value="{{location.street}}" maxLength="100"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">City:</label>
                <div class="col-sm-5">
                    <input type="text" name="city" class="form-control" value="{{location.city}}" maxLength="50"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Province:</label>
                <div class="col-sm-5">
                    <input type="text" name="province" class="form-control" value="{{location.province}}" maxLength="30"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Postal Code:</label>
                <div class="col-sm-5">
                    <input type="text" name="postalCode" class="form-control" value="{{location.postalCode}}" maxLength="10"></input>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-8 d-flex justify-content-around">
                <input type="submit" name="submit" id="submitLocation" value="{{action}}" class="btn btn-secondary" style="width: 100px;"></input>
                <input type="submit" name="cancel" value="Cancel" class="btn btn-secondary" style="width: 100px;"></input>
            </div>
            </div>
        </form>
    </div>

{% endblock %}