{% extends "admin/master.html.twig" %}

{% block title %}Record not found{% endblock %}

{% block content %}
    <h4>Record not found!</h4>
    <p><a href="/admin">Click here to continue</a></p>
{% endblock %}