{% extends "admin/masterAdmin.html.twig" %}

{% block table %}
    {% set action = (operation == 'add' ? "Add" : "Update") %}
    <h2>{{[action, 'Reservation'] | join(' ') }}</h2>
    {% if errorList %}
        <div class="col-sm-8 border border-danger rounded bg-light my-3">
            <h5 class="errorMessage mt-2 ml-2">Error:</h5>
            <ul class="errorMessage">
                {% for error in errorList %}
                    <li>{{error}}<li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="form-responsive">
        <form method="post" class="form form-sm">                        
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Customer ID:</label>
                <div class="col-sm-5">
                    <input type="text" name="customerId" class="form-control" value="{{reservation.customerId}}" maxLength="3"></input>
                </div>
            </div>   
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category ID:</label>
                <div class="col-sm-5">
                    <select name="categoryId" class="form-control">
                        {% if categoryList %}
                            {% for category in categoryList %}
                                <option value={{category.id}}>{{category.categoryName}}</option>
                            {% endfor %}            
                        {% endif %}                            
                    </select>
                </div>                                
            </div>        
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Start Date/Time:</label>
                <div class="col-sm-5">
                    <input type="text" name="startDateTime" class="form-control" value="{{reservation.startDateTime}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Return Date/Time:</label>
                <div class="col-sm-5">
                    <input type="text" name="returnDateTime" class="form-control" value="{{reservation.returnDateTime}}"></input>
                </div>
            </div>            
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Pick up Location:</label>
                <div class="col-sm-5">
                    <select name="pickupLocationName" class="form-control">
                        {% if locationList %}
                            {% for location in locationList %}
                                <option value={{location.id}}>{{[location.street , location.city] | join(' , ')}}</option>
                            {% endfor %}            
                        {% endif %}                            
                    </select>
                </div>                                
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Return Location:</label>
                <div class="col-sm-5">
                    <select name="returnLocationName" class="form-control" value="{{reservation.returnLocationName}}">
                        {% if locationList %}
                            {% for location in locationList %}
                                <option value={{location.id}}>{{[location.street , location.city] | join(' , ')}}</option>
                            {% endfor %}            
                        {% endif %}                            
                    </select>                
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Cost / Day:</label>
                <div class="col-sm-5">
                    <input type="text" name="costPerDay" class="form-control" value="{{reservation.costPerDay}}"></input>
                </div>
            </div>                             
            <div class="row">
            <div class="col-sm-8 d-flex justify-content-around">
                <input type="submit" name="submit" value="{{action}}" class="btn btn-secondary" style="width: 100px;"></input>
                <input type="submit" name="cancel" value="Cancel" class="btn btn-secondary" style="width: 100px;"></input>
            </div>
            </div>
        </form>
    </div>

{% endblock %}