{% extends "admin/master.html.twig" %}

{% block title %}Delete Reservation{% endblock %}

{% block content %}
    <h3>Delete Reservation</h3>
        Customer Id: {{ reservation.customerId }}<br>
        Car Id: {{ reservation.carId }}<br>
        Pickup Date/Time: {{ reservation.startDateTime }}<br>
        Return Date/Time: {{ reservation.returnDateTime }}<br>
        
        <form method="POST">
            <p>Please confirm this action. It is irreversible</p>
            <input type="submit" value="Yes, delete the reservation">
        </form>
        <a href="/admin/reservation/list">Cancel - go back to the list</a>
{% endblock %}