{% if reservationList %}
    {% for reservation in reservationList %}
        <tr>
            <td>{{reservation.customerId}}</td>  
            <td>{{reservation.categoryId}}</td>          
            <td>{{reservation.startDateTime}}</td>
            <td>{{reservation.returnDateTime}}</td>            
            <td>{{reservation.pickupLocationName}}</td>
            <td>{{reservation.returnLocationName}}</td>
            <td>{{reservation.costPerDay}}</td>
            <td><a href="/admin/reservation/update/{{reservation.id}}"><img src="/image/edit.png" width="20" height="20" alt="edit"></a>
                <a href="/admin/reservation/delete/{{reservation.id}}" class="confirmation"><img src="/image/delete.jpg" width="20" height="20" alt="delete"></a>
            </td>                         
        </tr>
    {% endfor %}            
{% endif %}     