<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
            
        <link rel="stylesheet" href="/css/masterTemp.css" />

        <title>{% block title %}{% endblock %} - Admin interface</title>
        {% block head %}{% endblock %}
        <style>
            body {
                    background-color: lightgray;
                    margin: 0;
                    padding: 0;
                    
                }
                #centeredContent {
                    margin: 0 auto;
                    padding: 20px;
                    width: 700px; /* 960px; */
                    background-color: beige;
                    text-align: center;
                }
        </style>
    </head>
    <body>
        <div id="centeredContent">
            <h2>Admin interface</h2>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>