<!DOCTYPE html>
<html lang="en">
	<head>
		<!---<link rel="stylesheet" href="../css/admin.css" />-->
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.js"></script>

		<script src="/js/jquery-2.2.0.min.js"></script>
		<title>
			{% block title %}{% endblock %}
			- My Webpage
		</title>

		<link rel="stylesheet" type="text/css" href="/css/styles/bootstrap4/bootstrap.min.css">
		<link href="/css/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css" href="/css/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
		<link rel="stylesheet" type="text/css" href="/css/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
		<link rel="stylesheet" type="text/css" href="/css/plugins/OwlCarousel2-2.2.1/animate.css">
		<link rel="stylesheet" type="text/css" href="/css/styles/main_styles.css">
		<link rel="stylesheet" type="text/css" href="/css/styles/responsive.css">
		<link rel="stylesheet" type="text/css" href="/css/styles/contact_styles.css">
		<link rel="stylesheet" type="text/css" href="/css/styles/contact_responsive.css">
		<link rel="stylesheet" type="text/css" href="/css/styles/responsive.css">
		<link rel="stylesheet" type="text/css" href="/css/styles/main_styles.css">

		<style>
			.errorMessage {
				text-align: center;
				font-weight: bold;
				color: red;
			}
		</style>

		{% block head %}{% endblock %}

	</head>
	<body>
		<div class="super_container">
			<!-- Top Navigation -->
			<header class="header trans_300">
				<div class="top_nav">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<div class="top_nav_left">Right Equipment, Lowest Cost. Guaranteed. We're Here! IPD Car Rental help you</div>
							</div>
							<div class="col-md-6 text-right">
								<div class="top_nav_right">
									<ul
										class="top_nav_menu">
										<!-- Language / My Account -->
										<li class="language">
											<a href="#">
												English
												<i class="fa fa-angle-down"></i>
											</a>
											<ul class="language_selection">
												<li>
													<a href="#">French</a>
												</li>
											</ul>
										</li>
										<li class="account">
											{% if userSession %}
												<b style="color:red">{{userSession.userName}}</b>
												{% if userSession.isAdmin %}
													<span>
														<a href="/admin">Access Admin Interface</a>
													</span>
													<a href="/login">
														My Account
													</a>
												{% endif %}
											{% else %}
												<a href="/login">
													Login
												</a>
											{% endif %}
										</li>
										{% if userSession %}
											<li class="language">
												<a href="/logout">Logout<i class="fa fa-angle-down"></i>
												</a>
											</li>
										{% endif %}
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Main Navigation -->
				<div class="main_nav_container">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 text-right">
								<div class="logo_container">
									<a href="/">
										<span>IPD</span>Car<span>Rental</span>
									</a>
								</div>
								<nav class="navbar">
									<ul class="navbar_menu">
										<li>
											<a href="/">home</a>
										</li>
										<li>
											<a href="/aboutus">about us</a>
										</li>
										<li>
											<a href="/contactus">contact</a>
										</li>
									</ul>
									<div class="hamburger_container">
										<i class="fa fa-bars" aria-hidden="true"></i>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</header>
			<div class="fs_menu_overlay"></div>
			<div class="hamburger_menu">
				<div class="hamburger_close">
					<i class="fa fa-times" aria-hidden="true"></i>
				</div>
				<div class="hamburger_menu_content text-right">
					<ul class="menu_top_nav">
						<li class="menu_item has-children">
							<a href="#">
								English
								<i class="fa fa-angle-down"></i>
							</a>
							<ul class="menu_selection">
								<li>
									<a href="#">French</a>
								</li>
							</ul>
						</li>
						<li class="menu_item has-children">
							{% if userSession %}
								<b style="color:red">{{userSession.userName}}</b>
								{% if userSession.isAdmin %}
									<span>
										<a href="/admin">Access Admin Interface</a>
									</span>
									<a href="/login">
										My Account
									</a>
								{% endif %}
							{% else %}
								<a href="/login">
									Login
								</a>
							{% endif %}
						</li>
						{% if userSession %}
							<li class="language">
								<a href="/logout">Logout<i class="fa fa-angle-down"></i>
								</a>
							</li>
						{% endif %}
					</li>
					<li class="menu_item">
						<a href="/">home</a>
					</li>
					<li class="menu_item">
						<a href="/aboutus">about us</a>
					</li>
					<li class="menu_item">
						<a href="/contactus">contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="centeredContent"> 
			{% block content %}{% endblock %}
		</div>

		<footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-lg-6">
						<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
							<ul class="footer_nav">
								<li>
									<a href="/questions">FAQs</a>
								</li>
								<li>
									<a href="/contactus">Contact us</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12">
						<div class="footer_nav_container">
							<div class="cr">© All Rights Reserverd Hong And ChunJie</div>
						</div>
					</div>
				</div>
			</div>
		</footer>

		{% block js %}{% endblock %}

		<script src="/js/script/jquery-3.2.1.min.js"></script>
		<script src="/css/styles/bootstrap4/popper.js"></script>
		<script src="/css/styles/bootstrap4/bootstrap.min.js"></script>
		<script src="/css/plugins/Isotope/isotope.pkgd.min.js"></script>
		<script src="/css/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
		<script src="/css/plugins/easing/easing.js"></script>
		<script src="/js/script/custom.js"></script>
	</body>
</html>


