{% extends "booking/master.html.twig" %}

{% block head %}
    <script>
        // Example of redirection with visual countdown
        var secsLeft = 5;
        setInterval(function() {
            document.getElementById("countdown").innerHTML = secsLeft + "";
            secsLeft--;
            if (secsLeft < 0) {
                window.location.href = "/";     // destination
            }
        }, 1000);
    </script>
{% endblock %}

{% block title %}Operation successful{% endblock %}

{% block content %}
    {#
    <p>Operation successful - user {% if Operation == 'add' %}added{% else %}updated{% endif %}</p>
    <p><a href="/admin/user/list">Click here to continue</a></p>
    #}

    <p>{{message}}</p>
    <p><a href="/">Click here to continue</a></p>
    <p>You will be automatically redirected in <span id="countdown">5</span> seconds.</p>
{% endblock %}