{% if categoryList %}
    {% for category in categoryList %}
        <tr class="border border-light rounded">
            <td class="form-responsive">
                <form method="post" class="form form-sm" action="/booking/step3/{{category.id}}">
                    <div class="row">
                        <div class="col-4">
                            <img src="{{category.photoFilePath}}" width="154" height="98" class="img-responsive" alt="car phote"/>
                        </div>
                        <div class="col-5">
                            <h5>{{category.categoryName}}</h5>
                            <p>Example of this range:</p>
                            <p>{{category.carExample}}</p>
                        </div>
                        <div class="col-3 text-center">
                            <div class="bg-light text-center">
                                <p>Total Price:</p>
                                <p><b>{{'$CAD ' ~ category.costPerDay * booking.duration.d ~ '.00'}}</b></p>
                            </div>
                            <input type="submit" name="continue" value="CONTINUE" class="btn-sm btn-primary">
                        </div>
                    </div>
                </form>
            </td>                                    
        </tr>
    {% endfor %}            
{% endif %}   