{% extends "booking/masterBooking2.html.twig" %}

{% block title %}Booking Step4{% endblock %}

{% block head %}
    <script src="https://www.google.com/recaptcha/api.js?hl=en"></script>   
    <script>

    $(document).ready(function () {
        $("#confirmBookingButton").click(function () {
            $.post('/booking/payment/exec');
            
        });
    });

    </script> 
{% endblock %}

{% block formAction %} 
    action="/booking/payment/redirect"
{% endblock %}

{% block step %}
    <div class="bg-light p-2 pl-3">
        <h4>Step 4: Checkout</h4>
    </div>
{% endblock %}

{% block selectedCarDetail %}
    <div class="row mt-3 pl-1">
        <div class="col-8"><b>Car Type</b></div>
        <div class="col-4"><a href="/booking/step2">Change</a></div>
    </div>
    <div class="row mt-1 pl-1">
        <div class="col-4">
            <img src={{category.photoFilePath}} width="72" height="49" class="img-responsive" alt="car photo"/>
        </div>
        <div class="col-8">
            <p>{{category.categoryName}}</p>
            <p>{{"Example of this range: "}}</p>
            <p>{{category.carExample}}</p>                                                            
        </div>
    </div>
{% endblock %}

{#
{% block table %}
    <div class="col-8 mt-2 border border-light rounded table-responsive">
        <div class="border border-light rounded mt-2 p-1">
            <h5>Payment</h5>
        </div>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <b>Rental Duration</b>
                    </td>
                    <td class="text-right">
                        <p>{{booking.strDuration}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Price Per Day</b><span></br>
                        {% if booking.duration.d != 0 %}
                            <p>{{booking.duration.d ~ " Day X $CAD " ~ category.costPerDay}}</p>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {{"$CAD " ~ category.costPerDay * booking.duration.d}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Price Per Hour</b><span></br>
                        {% if booking.duration.h != 0 %}
                            <p>{{booking.duration.h ~ " Hour X $CAD " ~ category.costPerDay * 0.1}}</p>
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {{"$CAD " ~ category.costPerDay * 0.1 * booking.duration.h}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Car Rental Fee</b><span></br>
                        <p>{{category.costPerDay * booking.duration.d}}
                        {% if booking.duration.h != 0 %}
                            {{" + " ~ category.costPerDay * 0.1 * booking.duration.h}}
                        {% endif %}        
                        </p>    
                    </td>
                    <td class="text-right">
                        {{category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Insurance Fee</b><span></br>
                    </td>
                    <td class="text-right">
                        
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Sub-total</b><span></br>
                    </td>
                    <td class="text-right">
                        {{category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span class="text-danger"><b>Total Price<b><pan></br>
                    </td>
                    <td class="text-right">
                        {{category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h}}
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>Required Deposit<b><pan></br>
                        <p>{{"10% of " ~ (category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h)}}
                    </td>
                    <td class="text-right">
                        {{(category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) * 0.1}}
                    </td>
                </tr>
            </tbody>
        </table>          
        <input type="hidden" name="deposit" value="{{(category.costPerDay * booking.duration.d + category.costPerDay * 0.1 * booking.duration.h) * 0.1}}">              
    </div>
{% endblock %}
#}
                
{% block personInfo %}
    <div class="border border-light rounded mt-2 p-3">
        {% if errorList %}
            <div class="border rounded bg-light my-3">
                <h5 class="errorMessage mt-2 ml-2">Error:</h5>
                <ul class="errorMessage">
                    {% for error in errorList %}
                        <li>{{error}}<li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
        
        <div class="bg-light p-1">
            <b>Personal Details</b>
        </div>
        <div class="row pb-1">
            <div class="col-4">
                <label class="col-form-label">First Name:</label></br>
                <input type="text" class="form-control" name="firstName" value="{{customer.firstName}}" required maxlength="50"></input>  
            </div>
            <div class="col-4">
                <label class="col-form-label">Last Name:</label></br>
                <input type="text" class="form-control" name="lastName" value="{{customer.lastName}}" required maxlength="50"></input>  
            </div>
            <div class="col-4">
                <label class="col-form-label">Phone Number:</label></br>
                <input type="text" class="form-control" name="phoneNo" value="{{customer.phoneNo}}" required minlength="10" maxlength="15"></input>  
            </div>
        </div>
    </div>   

    <div class="border border-light rounded mt-2 p-3">
        <div class="bg-light p-1">
            <b>Billing Address</b>
        </div>
        <div>
                <label class="col-form-label">Street:</label></br>
                <input type="text" class="form-control" name="street" value="{{customer.street}}"  maxlength="100"></input>  
        </div>
        <div class="row pb-1">                        
            <div class="col-4">
                <label class="col-form-label">City:</label></br>
                <input type="text" class="form-control" name="city" value="{{customer.city}}"  maxlength="50"></input>  
            </div>
            <div class="col-4">
                <label class="col-form-label">Province:</label></br>
                <input type="text" class="form-control" name="province" value="{{customer.province}}"  maxlength="30"></input>  
            </div>
            <div class="col-4">
                <label class="col-form-label">Postal Code:</label></br>
                <input type="text" class="form-control" name="postalCode" value="{{customer.postalCode}}"  maxlength="10"></input> 
            </div>
        </div>
    </div>      

    <div class="border border-light rounded mt-2 p-3">
        <div class="bg-light p-1">
            <b>Payment Method</b>
        </div>                    
        <div class="row pb-1">                        
            <div class="col-4">
                <label class="col-form-label">Select Payment Method:</label></br>
                <select class="form-control" name="paymentMethod">
                    <option>Paypal</option>
                    <option>Cash</option>                   
                </select> 
            </div>                        
        </div>
    </div>    

    <div class="border border-light rounded mt-2 p-3">
        <div class="bg-light p-1">
            <b>Captcha</b>
        </div>                    
        <div class="row pb-1">                        
            <div class="col-4">                            
                <div class="g-recaptcha" data-sitekey="6LfxzbcZAAAAAJGRJq8QtCvJdwdYRff920f6vkVA"></div>
            </div>                        
        </div>
    </div> 
    <div class="text-center mb-4">
    {#    <input type="submit" id="confirmBookingButton" name="comfirmBooking" value="Confirm Booking" formaction="/booking/payment/exec"></input>
    #}    <input type="submit" id="confirmBookingButton" name="confirmBooking" value="Confirm Booking"></input>

    </div>
{% endblock %}        
            

