{% extends "booking/masterBooking2.html.twig" %}

{% block title %}Booking Step2{% endblock %}

{% block head %}    
{% endblock %}

{% block formAction %} 
    action="/booking/step3"
{% endblock %}

{% block step %}
    <div class="bg-light p-2 pl-3">
        <h4>Step 2: Choose A Car</h4>
    </div>
{% endblock %}

{% block filterAndSorter %}
    <div class="row mt-2 mb-1 ml-2">
        <div class="col-4">  
            <div class="row">
                <div class="col-4">                                         
                    <label class="col-form-label">Filter By:</label>
                </div>
                <div class="col-8">
                    <select id="selectViewCategory" name="filter" class="form-control">
                        <option value="0">View All</option>
                        {% if categoryList %}
                            {% for category in categoryList %}
                                <option value="{{category.id}}">{{category.categoryName}}</option>
                            {% endfor %}            
                        {% endif %}
                    </select>  
                </div>
            </div>                                                                                          
        </div>
        <div class="col-3"></div>
        <div class="col-5">
            <div class="row">
                <div class="col-4">                                         
                    <label class="col-form-label">Sorted By:</label>
                </div>
                <div class="col-8">
                    <select id="sortCategory" name="sorter" class="form-control">
                        <option value="0">Price (Low to High)</option>
                        <option value="1">Price (High to Low)</option>
                        <option value="2">Number of Seats (Low to High)</option>
                        <option value="3">Number of Seats (High to Low)</option>
                    </select>  
                </div>
            </div>                                                                                                                                                           
        </div>                
    </div>
{% endblock %}

{#
{% block table %}     
    <div class="col-8 table-responsive">
        <table class="table">
            {% if categoryList %}
                {% for category in categoryList %}
                    <tr class="border border-light rounded">
                        <td class="form-responsive">
                            <form method="post" class="form form-sm" action="/booking/step3/{{category.id}}">
                                <div class="row">
                                    <div class="col-4">
                                        <img src={{category.photoFilePath}} width="154" height="98" class="img-responsive"/>
                                    </div>
                                    <div class="col-5">
                                        <h5>{{category.categoryName}}</h5>
                                        <p>Example of this range:</p>
                                        <p>{{category.carExample}}</p>
                                    </div>
                                    <div class="col-3 text-center">
                                        <div class="bg-light text-center">
                                            <p>Total Price:</p>
                                            <p><b>{{'$CAD ' ~ category.costPerDay * booking.duration.d ~ '.00'}}</b></p>
                                        </div>
                                        <input type="submit" name="continue" value="CONTINUE" class="btn-sm btn-primary">
                                    </div>
                            </form>
                        </td>                                    
                    </tr>
                {% endfor %}            
            {% endif %}   
        </table>
    </div>
{% endblock %}
#}

{% block js %}
    <script>
        $(document).ready(function() {
            $("#carCategoryListing").load("/booking/selectViewCategory/0/0");
            $("#selectViewCategory").change(function(){
                $categoryId = $("#selectViewCategory").val();
                $sorterId = $("#sortCategory").val();
                $("#carCategoryListing").load("/booking/selectViewCategory/" +  $categoryId + "/" + $sorterId);
            });
            $("#sortCategory").change(function(){
                $categoryId = $("#selectViewCategory").val();
                $sorterId = $("#sortCategory").val();
                $("#carCategoryListing").load("/booking/selectViewCategory/" +  $categoryId + "/" + $sorterId);
            });

        });
    </script>
{% endblock %}