{% extends "booking/masterBooking.html.twig" %}

{% block title %}Booking Step1{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
    <script>
        $(document).ready(function() {                    
            $("#cbSameLocation").change(function() 
            {
                if(this.checked == true)
                {                   
                    $("#returnLocation").val($("#pickupLocation").val());
                    $( "#returnLocation" ).prop( "disabled", true );
                }
                else
                {
                    $( "#returnLocation" ).prop( "disabled", false);
                }
            });                          
        });
    </script>
{% endblock %}

{% block content %}
<div class="container contact_container" style="margin-top:155px;">
{#    <div class="row">
        <div class="col">
            <div class="breadcrumbs d<h5>-flex flex<h5>-row align<h5>-items<h5>-center">
                <ul>
                    <a href="/">Home</a>
                    <li class="active"><a href="/password_reset"><i class="fa fa-angle-right" aria-hidden="true"></i>booking-step1</a>
                </ul>
            </div>
        </div>
    </div>
#}    <div class="row form-responsive">
        <div class="col"></div>
        <div class="col-11 col-md-10 col-lg-9 border border-light rounded p-2 bg-light">
            <form method="post" class="form form-sm" action="/booking/step2">
                <h4>Step 1: When And Where</h4> 
                {% if errorList %}
                    <div class="col-sm-8 border rounded bg-light my-3">
                        <h5 class="errorMessage mt-2 ml-2">Error:</h5>
                        <ul class="errorMessage">
                            {% for error in errorList %}
                                <li>{{error}}<li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="col-form-label">Pick up Date/Time:</label><br/>
                        <div class="row">
                            <div class="col-7">                                                            
                                <input type="date" name="pickupDate" class="datepicker form-control" value="{{booking.pickupDate}}" required></input>                            </div>
                            <div class="col-5">                                                                                               
                                <input name="pickupTime" class="timepicker form-control" value="{{booking.pickupTime}}" required></input>
                            </div>
                        </div> 
                        <label class="col-form-label">Pickup Location:</label><br/>
                        <select id="pickupLocation" name="pickupLocation" class="form-control">
                            {% if locationList %}
                                {% for location in locationList %}
                                    <option value={{location.id}}>{{[location.street , location.city] | join(' , ')}}</option>
                                {% endfor %}            
                            {% endif %}                            
                        </select><br/>                         
                    </div>

                    <div class="col-12 col-md-6 col-lg-6">
                        <label class="col-form-label">Return Date/Time:</label><br/>
                        <div class="row">
                            <div class="col-7">                                
                                <input type="date" name="returnDate" class="datepicker form-control" value="{{booking.returnDate}}" required></input>
                            </div>
                            <div class="col-5">                                
                                <input name="returnTime" class="timepicker form-control" value="{{booking.returnTime}}" required></input>
                            </div>
                        </div>
                        <label class="col-form-label">Return Location:</label><br/>
                        <select name="returnLocation" class="form-control" id="returnLocation">
                            {% if locationList %}
                                {% for location in locationList %}
                                    <option value={{location.id}}>{{[location.street , location.city] | join(' , ')}}</option>
                                {% endfor %}            
                            {% endif %}                            
                        </select><br/>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox"  name="sameLocation" id="cbSameLocation">
                            <label class="form-check-label">Same as the pickup location</label>
                        </div>                             
                    </div>                            
                </div>      
                <div class="mx-auto my-3" style="width: 200px;">                
                    <input type="submit" name="getQuote" value="GET A QUOTE NOW" class="btn btn-secondary" style="width: 200px;"></input>                                        
                </div>                            
            </form>
        </div>
        <div class="col"></div>    
    </div>
</div>
{% endblock %}

{% block js %} 
    <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.timepicker').timepicker({
                timeFormat: 'HH:mm',
                interval: 30,
                minTime: '6',
                maxTime: '23:00',
                //defaultTime: '6',
                startTime: '6:00',
                dynamic: false,
                dropdown: true,
                scrollbar: true
            });
            $(".datepicker").keypress(function(event) {
                event.preventDefault();
            });
            $(".timepicker").keypress(function(event) {
                event.preventDefault();
            });
        });
    </script>

{% endblock %}


