{% extends "admin/masterAdmin.html.twig" %}

{% block table %}
    {% set action = (operation == 'add' ? "Add" : "Update") %}
    <h2>{{[action, 'Car'] | join(' ') }}</h2>
    <div class="form-responsive">
        <form method="post" class="form form-sm">                        
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Registration Number:</label>
                <div class="col-sm-5">
                    <input type="text" name="registrationNo" class="form-control" value="{{car.registrationNo}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Make</label>
                <div class="col-sm-5">
                    <input type="text" name="make" class="form-control" value="{{car.make}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Model:</label>
                <div class="col-sm-5">
                    <input type="text" name="model" class="form-control" value="{{car.model}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Mileage:</label>
                <div class="col-sm-5">
                    <input type="text" name="mileage" class="form-control" value="{{car.mileage}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Engine Size:</label>
                <div class="col-sm-5">
                    <input type="text" name="engineSize" class="form-control" value="{{car.engineSize}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Production Year:</label>
                <div class="col-sm-5">
                    <input type="text" name="productionYear" class="form-control" value="{{car.productionYear}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Color:</label>
                <div class="col-sm-5">
                    <input type="text" name="color" class="form-control" value="{{car.color}}"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Default Location:</label>
                <div class="col-sm-5">
                    <select name="locationName" class="form-control" value="{{car.defaultLocationId}}">                    
                        {% if locationList %}
                            {% for location in locationList %}
                                <option value={{location.id}}>{{[location.street , location.city] | join(' , ')}}</option>
                            {% endfor %}            
                        {% endif %}                            
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category Name:</label>
                <div class="col-sm-5">
                    <select name="categoryName" class="form-control" value="{{car.categorId}}"></input>
                        {% if categoryList %}
                            {% for category in categoryList %}
                                <option value={{category.id}}>{{category.categoryName}}</option>
                            {% endfor %}            
                        {% endif %}                            
                    </select>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-8 d-flex justify-content-around">
                <input type="submit" id="submitCar" name="submit" value="{{action}}" class="btn btn-secondary" style="width: 100px;"></input>
                <input type="submit" name="cancel" value="Cancel" class="btn btn-secondary" style="width: 100px;"></input>
            </div>
            </div>
        </form>
    </div>

{% endblock %}

{% block js %}
    <script src="../../js/carFormValidation.js"></script>
{% endblock %}