{% extends "master.html.twig" %}

{% block title %}Internal error{% endblock %}

{% block content %}
<div class="container contact_container">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d<h5>-flex flex<h5>-row align<h5>-items<h5>-center">
                <ul>
                    <a href="/">Home</a>
                    <li class="active"><a href="/error_internal"><i class="fa fa-angle-right" aria-hidden="true"></i>internal error</a>
                </ul>
            </div>
        </div>
    </div>

    <p>Internal error occured. Our team of Coding Ninjas has been notified.</p>

    <p><a href="/">Click here</a> to continue.</p>
    <img src="/images/ninja.png" width="200">
</div>

{% endblock %}
