{% extends "master.html.twig" %}

{% block title %}Forgot password{% endblock %}
{% block head %}
<link rel="stylesheet" href="./css/loginregister.css" />
<script>
$(document).ready(function() {
    $('input[name=email]').on('paste, blur change', function() {
        var email = $('input[name=email]').val();
        $("#nothisemail").load("/nothisemail/" + email);
    });
    
    $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
        console.log("Ajax error occured on " + settings.url);
        alert("Ajax error occured");
    });
});

</script>
{% endblock %}

{% block content %}
<div class="container contact_container">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d<h5>-flex flex<h5>-row align<h5>-items<h5>-center">
                <ul>
                    <a href="/">Home</a>
                    <li class="active"><a href="/forgotpassword"><i class="fa fa-angle-right" aria-hidden="true"></i>forgot password</a>
                </ul>
            </div>
        </div>
    </div> 
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}<li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="wrap">
        <form method="post">
            <h4>Reset your password</h4>
            <p>An email will be send to you with instructions on how to reset your password.</p> 
            <label>Email:</label>
            <input type="text" name="email" placeholder="Enter your email address" value="" required="required"></input>
            <span class="errorMessage" id="nothisemail"></span><br />
            <input type="submit" name="reset-request-submit"  class="btn btn-secondary" style="width: 100px;"></input>                                
        </form>
    </div>
</div>
{% endblock %}
