{% extends "master.html.twig" %}

{% block title %}Home Page{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
	
{% endblock %}

{% block content %}
	<div class="booking">	
	 {% if userSession %}
		<a href="/booking/step1"><input type="submit" name="booking" value="Booking a car"></input></a>                                                                  
			{% else %}
			Please Login first
			<a href="/login"><input type="submit" name="booking" value="Booking a car"></input></a>
			{% endif %}
	</div>
<!-- Slider-->
	<div class="main_slider" style="background-image:url(../image/slider_1.jpg)">
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">														
						{% if userSession %}
							<div class="red_button shop_now_button"><a href="/booking/step1">Booking a car</a></div>                                                                 
						{% else %}
							<h6>Login for booking</h6>
							<div class="red_button shop_now_button"><a href="/login">Booking a car</a></div>
						{% endif %}	
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Banner -->
	<div class="banner">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_1.png)">	
					</div>
					<div class="banner_category">
						C$ 36/day &nbsp&nbsp&nbsp<b>Economy</b>
						<p></p>
					</div>
                    <p>2 Adults, 2 Bags</p>
				</div>
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_2.jpg)"></div>
					<div class="banner_category">
						C$ 32/day &nbsp&nbsp&nbsp<b>Compact</b>
						<p></p>
					</div>
                    <p>4 Adults, 2 Bags</p>
				</div>
				<div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_3.jpg)"></div>
					<div class="banner_category">
						C$ 41/day &nbsp&nbsp&nbsp<b>Intermediate</b>
						<p></p>
					</div>
                    <p>5 Adults, 3 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_4.jpg)"></div>
					<div class="banner_category">
						C$ 36/day &nbsp&nbsp&nbsp<b>Standard</b>
						<p></p>
					</div>
                    <p>5 Adults, 3 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_5.jpg)"></div>
					<div class="banner_category">
						C$ 35/day &nbsp&nbsp&nbsp<b>Full-size</b>
						<p></p>
					</div>
                    <p>4 Adults, 2 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_6.jpeg)"></div>
					<div class="banner_category">
						C$ 66/day &nbsp&nbsp&nbsp<b>Minivan</b>
						<p></p>
					</div>
                    <p>5 Adults, 5 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_7.jpg)"></div>
					<div class="banner_category">
						C$ 83/day &nbsp<b>Full-size SUV</b>
						<p></p>
					</div>
                    <p>5 Adults, 2 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_8.webp)"></div>
					<div class="banner_category">
						C$ 40/day &nbsp&nbsp&nbsp<b>Premium</b>
						<p></p>
					</div>
                    <p>5 Adults, 5 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_9.jpg)"></div>
					<div class="banner_category">
						C$ 150/day <b>Pass Van</b>
						<p></p>
					</div>
                    <p>5 Adults, 3 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_10.jpg)"></div>
					<div class="banner_category">
						C$ 93/day &nbsp&nbsp&nbsp<b>Luxury</b>
						<p></p>
					</div>
                    <p> 5 Adults, 5 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_11.jpg)"></div>
					<div class="banner_category">
						C$ 55/day &nbsp&nbsp&nbsp<b>Pickup Truck</b>
						<p></p>
					</div>
                    <p>5 Adults, 3 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_12.jpg)"></div>
					<div class="banner_category">
						C$ 160/day &nbsp&nbsp&nbsp<b>Premium SUV</b>
						<p></p>
					</div>
                    <p>5 Adults, 5 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_13.webp)"></div>
					<div class="banner_category">
						C$ 35/day &nbsp&nbsp&nbsp<b>Compact SUV</b>
						<p></p>
					</div>
                    <p> 4 Adults, 2 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_14.png)"></div>
					<div class="banner_category">
						C$ 87/day &nbsp&nbsp<b>Luxury SUV</b>
						<p></p>
					</div>
                    <p> 5 Adults, 5 Bags</p>
				</div>
                <div class="col-md-4">
					<div class="banner_item align-items-center" style="background-image:url(../image/banner_15.webp)"></div>
					<div class="banner_category">
						C$ 44/day &nbsp&nbsp&nbsp&nbsp&nbsp<b>Commercial</b>
						<p></p>
					</div>
                    <p> 5 Adults, 3 Bags</p>
				</div>
			</div>
		</div>
	</div>	
{% endblock %}
