{% extends "master.html.twig" %}

{% block title %}Login Success{% endblock %}

{% block head %}
<meta http-equiv="refresh" content="2;URL='/'" />
<link rel="stylesheet" type="text/css" href="../css/contact_styles.css">
<link rel="stylesheet" type="text/css" href="../css/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="../css/responsive.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap4/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/main_styles.css">
{% endblock %}

{% block content %} 
<div class="container contact_container">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d<h5>-flex flex<h5>-row align<h5>-items<h5>-center">
                <ul>
                    <a href="/">Home</a>
                    <li class="active"><a href="/questions"><i class="fa fa-angle-right" aria-hidden="true"></i>login sucess</a>
                </ul>
            </div>
        </div>
    </div>
    <p>Login successfully.</a>You will be automatically redirected to login page in 2 seconds</p>
    {% if userSession.isAdmin %}
        <p>You can click to access <a href="/admin">Administration Page.</a><p>
    {% endif %}
</div>
{% endblock %}
