{% extends "master.html.twig" %}

{% block title %}Logout{% endblock %}

{% block head %}{% endblock %}

{% block content %}
<div class="container contact_container">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d<h5>-flex flex<h5>-row align<h5>-items<h5>-center">
                <ul>
                    <a href="/">Home</a>
                    <li class="active"><a href="/questions"><i class="fa fa-angle-right" aria-hidden="true"></i>logout</a>
                </ul>
            </div>
        </div>
    </div>
    <p>You have been logged out.</p>
</div>
{% endblock %}
