<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>{% block title %}{% endblock %} - My Webpage</title>
<meta name="description" content="Colo Shop Template">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../styles/bootstrap4/bootstrap.min.css">
<script src="../js/jquery-3.2.1.min.js"></script>
<link href="../plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="../plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="../styles/main_styles.css">
<link rel="stylesheet" type="text/css" href="../styles/responsive.css">
<link rel="stylesheet" type="text/css" href="../styles/contact_styles.css">
<link rel="stylesheet" type="text/css" href="../styles/contact_responsive.css">
</head>
<style>
    .errorMessage {
    text-align: center;
    font-weight: bold;
    color: red;
    }
	</style>
	{% block head %}
	
	{% endblock %}
<body>
<div class="super_container">
	<!-- Header -->
	<header class="header trans_300">
		<!-- Top Navigation -->
		<div class="top_nav">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="top_nav_left">Right Equipment, Lowest Cost. Guaranteed. We're Here! IPD Car Rental help you</div>
					</div>
					<div class="col-md-6 text-right">
						<div class="top_nav_right">
							<ul class="top_nav_menu">	
								<li class="language">
									<a href="#">
										English
										<i class="fa fa-angle-down"></i>
									</a>
									<ul class="language_selection">
										<li><a href="#">French</a></li>
									</ul>
								</li>
                                <li class="account">
                                {% if userSession %}
										{% if userSession.isAdmin %}
										<span><a href="/admin">Access Admin Interface</a></span>
                                </li>
								<li class="account">
										{% else %}  
										<a href="#">
										My Account
										<i class="fa fa-angle-down"></i></a>
										<ul class="account_selection">
											<li><a href="/logout"><i class="fa fa-sign-in" aria-hidden="true"></i>Logout</a></li>
										</ul>                                                               
										{% endif %}
									    {% else %}
										<a href="#">
											My Account
											<i class="fa fa-angle-down"></i>
										</a>
										<ul class="account_selection">
										<li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
										<li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
										</ul>
									{% endif %}									
								</li>
									{% if userSession %}
										<li class="language">
										<b style="color:red">{{userSession.userName}}</b>
									{% endif %}	
								</li>	
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Main Navigation -->
		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">
						<div class="logo_container">
							<a href="/"><span>IPD</span>Car<span>Rental</span></a>
						</div>
						<nav class="navbar">
							<ul class="navbar_menu">
								<li><a href="/">Home</a></li>
								<li><a href="/aboutus">About us</a></li>
								<li><a href="/contactus">Contact us</a></li>
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">
				
				<li class="menu_item has-children">
					<a href="#">
						English
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a href="#">French</a></li>
					</ul>
				</li>
                <li class="menu_item has-children">
                    {% if userSession %}
						{% if userSession.isAdmin %}
							<span><a href="/admin">Access Admin Interface</a></span>
                </li>

				<li class="menu_item has-children">
					
						{% else %}  
							<a href="#">
							My Account
							<i class="fa fa-angle-down"></i></a>
							<ul class="menu_selection">
								<li><a href="/logout"><i class="fa fa-sign-in" aria-hidden="true"></i>Logout</a></li>
							</ul>                                                               
						{% endif %}
					{% else %}
						<a href="#">
							My Account
							<i class="fa fa-angle-down"></i>
						</a>
						<ul class="menu_selection">
							<li><a href="/login"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
							<li><a href="/register"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
						</ul>
					{% endif %}	
				</li>
				<li class="menu_item has-children">
					{% if userSession %}
						<b style="color:red">{{userSession.userName}}</b>
					{% endif %}	
				</li>
				<li class="menu_item"><a href="/">Home</a></li>
				<li class="menu_item"><a href="/aboutus">About us</a></li>
				<li class="menu_item"><a href="/contactus">Contact us</a></li>
			</ul>
		</div>
	</div>
	<div id="centeredContent">
		{% block content %}
			
		{% endblock %}
	</div>
	<!--footer-->
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
						<ul class="footer_nav">
							<li><a href="/questions">FAQs</a></li>
							<li><a href="/contactus">Contact us</a></li>
						</ul>
					</div>
				</div>
			    <div class="col-lg-6">
					<div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
						<ul>
							<li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="footer_nav_container">
						<div class="cr">© All Rights Reserverd Hong And ChunJie</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
</div>


<script src="../styles/bootstrap4/popper.js"></script>
<script src="../styles/bootstrap4/bootstrap.min.js"></script>
<script src="../plugins/Isotope/isotope.pkgd.min.js"></script>
<script src="../plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="../plugins/easing/easing.js"></script>
<script src="../js/custom.js"></script>
</body>

</html>
