<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% block head %}{% endblock %}
</head>

<body>
    <div id="centeredContent">
        <div class="row">
            <div class="col"></div>
            <div class="col-11 col-md-10 col-lg-9 border border-light rounded px-2 bg-light">
                <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
                    <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">IPD Car Rental</a>
                    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
                    <ul class="navbar-nav px-3">
                        <li class="nav-item text-nowrap">
                            <a class="nav-link" href="#">Sign out</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="col"></div>
        </div>

        {% block content %}{% endblock %}

    </div>

    <div id="footer">
        <div class="row">
            <div class="col"></div>
            <div class="col-10 col-md-9 col-lg-8 border border-light rounded px-2 text-center bg-secondary">
                {% block footer %}
                    &copy; Copyright 2011 by <a href="http://domain.invalid/">IPD 21</a>.
                {% endblock %}
            </div>
            <div class="col"></div>
        </div>        
    </div>
</body>
</html>