{% extends "master.html.twig" %}

{% block title %}
    Password reset
{% endblock title %}

{% block stylesheets %}
{% endblock stylesheets %}

{% block header %}{% endblock header %}

{% block content %}
<div class="container contact_container">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d<h5>-flex flex<h5>-row align<h5>-items<h5>-center">
                <ul>
                    <a href="/">Home</a>
                    <li class="active"><a href="/password_reset_action_notfound"><i class="fa fa-angle-right" aria-hidden="true"></i>password reset</a>
                </ul>
            </div>
        </div>
    </div>
        <p>Password reset token not found or not valid (expired).</p><br>
        <a href="/">Click to continue</a>
</div>
{% endblock content %}