{% extends "master.html.twig" %}

{% block title %}
    Password reset request
{% endblock title %}

{% block stylesheets %}
    
{% endblock stylesheets %}

{% block header %}
<link rel="stylesheet" href="./css/loginregister.css" />
{% endblock header %}

{% block content %}
<div class="container contact_container">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d<h5>-flex flex<h5>-row align<h5>-items<h5>-center">
                <ul>
                    <a href="/">Home</a>
                    <li class="active"><a href="/password_reset"><i class="fa fa-angle-right" aria-hidden="true"></i>password reset</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="wrap">
        <form method="POST" autocomplete="off">
            <div class="formInput">
                <label>Email</label>
                <input type="text" name="email" />
            </div>
            <div class="buttonDiv">
                <button type="submit">Send password reset email</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}