{% extends "master.html.twig" %}
{% block content %} 
<div class="container contact_container">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d<h5>-flex flex<h5>-row align<h5>-items<h5>-center">
                <ul>
                    <a href="/">Home</a>
                    <li class="active"><a href="/password.reset_emailsentfailed"><i class="fa fa-angle-right" aria-hidden="true"></i>password reset</a>
                </ul>
            </div>
        </div>
    </div>
    <p>Something wrong. Please try again later.</p>
</div>
{% endblock %}
