{% extends "master.html.twig" %}

{% block title %}Reset password{% endblock %}

{% block head %} 
<link rel="stylesheet" href="../css/loginregister.css" />
<link rel="stylesheet" type="text/css" href="../css/contact_styles.css">
<link rel="stylesheet" type="text/css" href="../css/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="../css/responsive.css">
<link rel="stylesheet" type="text/css" href="../css/bootstrap4/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../css/main_styles.css">
{% endblock %}
{% block content %} 
<div class="container contact_container">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d<h5>-flex flex<h5>-row align<h5>-items<h5>-center">
                <ul>
                    <a href="/">Home</a>
                    <li class="active"><a href="/password_reset_action"><i class="fa fa-angle-right" aria-hidden="true"></i>password reset</a>
                </ul>
            </div>
        </div>
    </div>
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}<li>
        {% endfor %}
        </ul>
    {% endif %}
    <div class="wrap">
            <form method="post">
                <h3>Reset your password</h3>
                <label>Email:</label>
                <input type="text" name="email" value="{{ v.email }}"></input>  
                <label>New Password:</label>
                <input type="password" name="pass1" class="form-control" value=""></input>   
                <label>Confirm Password:</label>
                <input type="password" name="pass2" value=""></input>
                <input type="submit" name="reset-request-submit"></input>                
            </form>
    </div>
</div>
{% endblock %}

