{% extends "master.html.twig" %}

{% block title %}Questions{% endblock %}

{% block head %}
<script src="../js/contact_custom.js"></script>
<link rel="stylesheet" type="text/css" href="../css/contact_styles.css">
<link rel="stylesheet" type="text/css" href="../css/contact_responsive.css">
<link rel="stylesheet" type="text/css" href="../css/responsive.css">
<link rel="stylesheet" type="text/css" href="../css/main_styles.css">
{% endblock %}

{% block content %}
<div class="container contact_container">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d<h5>-flex flex<h5>-row align<h5>-items<h5>-center">
                <ul>
                    <a href="/">Home</a>
                    <li class="active"><a href="/questions"><i class="fa fa-angle-right" aria-hidden="true"></i>frequently questions</a>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 contact_col">
            <div class="questions">
                <h5>Any questions?</h5>
                <p>Please check out the following to get answers to the Frequently Asked Questions</p>                  ​
                <h2>BOOKING CRITERIA</h2>
                <h3>Can I reserve a vehicle in one location and pick it up in another location?</h3><br>
                <h5>Yes, you can.</h5><br>                   
                <h3>Is it possible to modify or cancel my reservation if it is already confirmed? Will I be charged extra fees for this cancellation?</h3><br>
                <h5>Yes, it is possible to modify or cancel a reservation; however, it has to be within a delay of 24 hours. You will not be charged any fees for modifying or cancelling a reservation.</h5><br>                   
                <h3>May I rent with a probationary license?</h3><br>
                <h5>Yes, it is now possible to rent cars, vans, pickups and 12 ft. at 20 ft. truck with a probationary license.</h5><br>  
                <h3>Why may I not use someone else’s credit card?</h3><br>
                <h5>This contract is valid only if the driver™s license and credit card are in the same name, in order to avoid fraud and to guarantee the protection of our guests.</h5><br>  
                <h3>Why do I have to show a second ID?</h3><br>
                <h5>We need to validate the identity of the renter in order to protect you against fraud.</h5><br>
                <h2>DEPOSIT</h2>
                <br><h3>Why do I need a credit card?</h3><br>
                <h5>The credit card is a deposit for the rental, the deductible and the potential additional costs such as gasoline, extra kilometres, or fines.</h5><br>
                <h2>VEHICLE</h2>
                <br><h3>Do you have vehicles for people with reduced mobility?</h3><br>
                <h5>We do not have vehicles adapted for drivers with reduced mobility. On the other hand, we have transport vehicles adapted for the passengers in wheelchairs.</h5><br>                   
                <h2>COSTS</h2>
                <h3>Is there any drop off fee when I return a vehicle at another location?</h3><br>
                <h5>Yes, there is a drop off fee to help recuperate our transportation expenses when bringing back the vehicle to the pickup location.</h5><br>
                <h3>What justifies expenses for the additional driver?</h3><br>
                <h5>Similar to insurance companies charging for a second driver on a car, having more than one driver increases the risk for accident; therefore an additional fee for this risk is requested.</h5><br>
                <h3>Why do you charge a daily extra to go to the United States?</h3><br>
                <h5>Civil lawsuits and claims in the USA are more expensive.</h5><br>
                <h3>Why do you charge extra for drivers aged 25 years or less?</h3><br>
                <h5>The probability of accident is higher for drivers aged 25 years or less.</h5><br>
                <h2>INSSURANCE</h2>
                <h3>Can I use my credit card as insurance?</h3><br>
                <h5>It is your responsibility to make sure that you are insured with your credit card company when renting our vehicles. If you are insured, you can use your credit card to cover your rental.</h5><br>
                <h2>RETURN</h2>
                <h3>Why is it important to return the car with the last gasoline bill?</h3><br>
                <h5>It is to ensure that the vehicle was filled up before it was returned. This guaranties that the next customer will have a full tank of gas.</h5><br>
			</div>
		</div>
	</div>
</div>
{% endblock %}


 

 
