{% extends "master.html.twig" %}

{% block title %}Registration{% endblock %}

{% block head %}
<meta http-equiv="refresh" content="2;URL='/login'" /> {% endblock %}

{% block content %} 
<div class="container contact_container">
    <div class="row">
        <div class="col">
            <div class="breadcrumbs d<h5>-flex flex<h5>-row align<h5>-items<h5>-center">
                <ul>
                    <a href="/">Home</a>
                    <li class="active"><a href="/register_success"><i class="fa fa-angle-right" aria-hidden="true"></i>register sucess</a>
                </ul>
            </div>
        </div>
    </div>
    <p>Register successfully.<a href='/login'></a>You will be automatically redirected to home page in 2 seconds</p></p>
</div>
{% endblock %}
