{% extends "masterAdmin.html.twig" %}

{% block table %}
    <h2>Add New User</h2>
    <div class="form-responsive">
        <form method="post" class="form form-sm">            
            <div class="form-group row">
                <div class="col-sm-2">Is Admin:</div>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox">
                        <label class="form-check-label">Admin</label>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">User Name:</label>
                <div class="col-sm-5">
                    <input type="text" name="userName" class="form-control"></input>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Email:</label>
                <div class="col-sm-5">
                    <input type="text" name="email" class="form-control"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Password:</label>
                <div class="col-sm-5">
                    <input type="text" name="password" class="form-control"></input>
                </div>
            </div>
            <div class="row">
            <div class="col-sm-7 mx-auto" style="width: 300px;">
                <input type="submit" name="save" value="Save" class="btn btn-secondary mr-5" style="width: 100px;"></input>
                <input type="submit" name="cancel" value="Cancel" class="btn btn-secondary" style="width: 100px;"></input>
            </div>
            </div>
        </form>
    </div>

{% endblock %}